@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&family=Roboto+Slab&family=Sofia+Sans:ital,wght@0,200;1,400&display=swap');


body {
  background-color: white;
  padding: 20px;
}

.par1>h1{
  color: #45485b;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  padding: 30px;
  margin-top: 20px;
}

.par1>p{
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  word-spacing: 5px;
  color: #898c8de8;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 0px;
  margin-bottom: 40px;
  margin-top: -20px;
}

.item>img{
  width: 15%;
  padding: 20px;
  margin-left: 170px;
  
}

.item>h1{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 600;color: #45485b;
  text-align: center;
}

.item>p{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #898c8de8;
  text-align: center;
  
}

.little-box{
  display: flex;
  justify-content: space-evenly;
}
